
*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-1 {
    background-color: blueviolet;
    height: 150px;
    margin: 10px;
}

.box-2 {
    background-color: skyblue;
    height: 170px;
    margin: 10px;
}

.box-3 {
    background-color: palegreen;
    height: 170px;
    margin: 10px;
}

p {
    text-align: justify;
}

.lorem {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    word-spacing: 10px;
}